@font-face {
  font-family: museosans500;
  src: url(../fonts/museosans_500-webfont.ttf); }

@font-face {
  font-family: museosans700;
  src: url(../fonts/museosans_700-webfont.ttf); }

@font-face {
  font-family: museosans900;
  src: url(../fonts/museosans_900-webfont.ttf); }

@font-face {
  font-family: museosans100;
  src: url(../fonts/museosans-100-webfont.ttf); }

@font-face {
  font-family: museosans300;
  src: url(../fonts/museosans-300-webfont.ttf); }

body {
  margin: 0px;
  background-color: #fbfbfb; }

* {
  box-sizing: border-box; }

nav {
  margin-bottom: 0px;
  padding: 60px 170px; }

.navigation {
  padding-bottom: 20px; }

#logo {
  width: 200px;
  float: left;
  margin-top: -30px; }

a.navLink {
  float: right;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: black;
  padding-bottom: 40px;
  cursor: pointer;
  font-family: museosans700;
  font-size: 15px; }

.navigation a {
  display: block; }

.navigation a.hamburger {
  display: none; }

a.navLink:hover {
  color: gray;
  border-bottom: 5px solid gray;
  cursor: pointer; }

a.active {
  border-bottom: 5px solid #0050ff; }

header {
  margin: 0px;
  background-image: url("../img/desktopHero.jpg");
  background-size: cover;
  width: 100%;
  height: 860px;
  background-position: center;
  position: relative; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.headerText {
  color: white;
  font-family: museosans100;
  font-size: 40px;
  line-height: 60px; }

.signUp {
  background-color: #004ffb;
  border: none;
  padding: 15px;
  border-radius: 30px;
  color: white;
  transition: 0.5s;
  font-family: museosans700; }

.signUp:hover {
  background-color: white;
  color: #004ffb;
  cursor: pointer; }

.content, .news {
  padding: 80px 170px;
  font-family: museosans300; }

.pageHeading {
  font-size: 40px; }

.content a {
  text-decoration: none;
  color: #004ffb;
  cursor: pointer; }

.list {
  list-style-type: circle;
  padding-left: 15px;
  padding-bottom: 20px; }

.list li {
  padding: 10px; }

.slide {
  position: relative; }

.next, .previous {
  position: absolute;
  top: 50%;
  text-decoration: none;
  display: block;
  transition: 0.5s ease;
  width: 60px;
  height: 60px; }

.previous {
  left: 170px; }

.next:hover, .previous:hover {
  width: 70px;
  height: 70px; }

.next {
  right: 170px; }

.slideText {
  text-align: center;
  padding: 300px 380px;
  height: 800px;
  font-family: museosans300;
  font-size: 15px;
  color: white;
  line-height: 30px; }

.slideText h1 {
  font-family: museosans100;
  font-size: 40px;
  line-height: 60px; }

.contactUs {
  margin-top: 40px;
  background-color: #0050ff;
  border: none;
  padding: 10px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: 0.5s; }

.contactUs:hover {
  padding: 15px; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.news h1 {
  font-family: museosans100; }

.oneBlock {
  float: left;
  width: 33%;
  padding: 10px;
  font-family: museosans300;
  transition: 0.5s; }

.oneBlock:hover {
  border: 0.5px solid grey;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 5px 10px 8px #888888;
  cursor: pointer; }

.newsPic {
  width: 100%; }

.blocks::after {
  content: "";
  clear: both;
  display: table; }

.seeAll {
  margin-top: 150px;
  background-color: white;
  border: 2px solid #0050ff;
  padding: 10px;
  border-radius: 30px;
  color: #0050ff;
  cursor: pointer;
  transition: 0.5s; }

.seeAll:hover {
  color: white;
  background-color: #0050ff; }

.month {
  color: #5a6373;
  font-size: 15px; }

.newsTitle {
  font-size: 20px; }

a {
  text-decoration: none; }

footer {
  padding: 20px 170px;
  background-color: #f7f7f7;
  border-top: 1px solid #e6e6e6;
  padding-top: 40px; }

.copyright {
  float: left;
  font-size: 12px; }

.copyright a {
  color: blue; }

.mediaButt {
  float: right;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-top: -10px; }

.mediaButt img {
  width: 15px;
  height: 15px;
  transition: 0.5s; }

.mediaButt img:hover {
  width: 17px;
  height: 17px; }

@media (max-width: 750px) {
  a.navLink {
    display: none;
    clear: both; }
  a.navLink:hover {
    border-bottom: none;
    border-right: 3px solid grey; }
  .naigation {
    display: block; }
  .navigation a.hamburger {
    float: right;
    display: block; }
  .navigation.responsive {
    position: relative; }
  .navigation.responsive a.hamburger {
    position: absolute;
    right: 0;
    top: 0; }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left; }
  nav {
    padding: 20px;
    overflow: hidden; }
  #logo {
    margin-top: 0px; }
  a.active {
    border-bottom: none;
    border-right: 3px solid blue; }
  header {
    background-image: url("../img/tabletHero.jpg");
    height: 500px; }
  .headerText {
    font-size: 25px; }
  .signUp {
    padding: 10px; }
  .pageHeading {
    font-size: 25px;
    padding-bottom: 10px; }
  .content, .news {
    padding: 30px; }
  .next, .previous {
    width: 30px;
    height: 30px; }
  .previous {
    left: 20px; }
  .next:hover, .previous:hover {
    width: 40px;
    height: 40px; }
  .next {
    right: 20px; }
  .slideText {
    padding-bottom: 100px;
    padding-top: 130px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 10px;
    line-height: 20px; }
  .slideText h1 {
    font-family: museosans100;
    font-size: 20px;
    line-height: 30px; }
  .contactUs {
    margin-top: 20px;
    padding: 10px; }
  .contactUs:hover {
    padding: 15px; }
  .background {
    height: 400px; }
  .seeAll {
    margin-top: 90px; }
  .month {
    font-size: 10px; }
  .newsTitle {
    font-size: 15px; }
  footer {
    padding: 30px; } }

@media (max-width: 340px) {
  .hamburgerImg {
    width: 30px; }
  nav {
    padding: 15px; }
  header {
    background-image: url("../img/mobileHero.jpg");
    height: 180px; }
  #logo {
    width: 100px; }
  a.navLink {
    padding: 10px;
    font-size: 10px; }
  .headerText {
    font-size: 15px;
    line-height: 20px; }
  .signUp {
    padding: 15px; }
  .pageHeading {
    font-size: 15px;
    padding-bottom: 10px; }
  .content {
    font-size: 10px; }
  .list {
    list-style-type: circle;
    padding-left: 10px;
    padding-bottom: 10px; }
  .list li {
    padding: 5px; }
  h2 {
    font-size: 12px; }
  .slide {
    position: relative; }
  .content, .news {
    padding: 20px; }
  .next, .previous {
    width: 20px;
    height: 20px; }
  .previous {
    left: 20px; }
  .next:hover, .previous:hover {
    width: 25px;
    height: 25px; }
  .next {
    right: 20px; }
  .slideText {
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 10px;
    line-height: 20px;
    height: 150px; }
  .slideText h1 {
    font-size: 10px;
    line-height: 15px;
    font-size: 10px;
    line-height: 20px; }
  #noDisplay1, #noDisplay2, #noDisplay3, #noDisplay4, #noDisplay5, #noDisplay6 {
    display: none; }
  .background {
    height: 150px; }
  .oneBlock:not(:last-child) {
    border-bottom: 0.5px solid grey; }
  .oneBlock {
    float: none;
    width: 100%;
    padding: 5px;
    display: inline-block; }
  picture {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }
  .newsPic {
    width: 80px; }
  .seeAll {
    margin-top: 60px;
    margin-bottom: 50px; }
  .month {
    font-size: 8px; }
  .newsTitle {
    font-size: 10px; }
  footer {
    padding: 15px; } }